#facebook-modal.modal.fade{ 'aria-labelledby' => 'myModalLabel', :role => 'dialog', :tabindex => '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
        %h4#myModalLabel.modal-title Facebook Page

      = form_for @bot, html: { class: 'sform-horizontal' } do |f|
        .modal-body
          .form-group
            = label_tag 'facebook_page_id', 'Facebook page id'
            = f.text_field :facebook_page_id, class: 'form-control input-md', required: true

          .form-group
            = f.label :facebook_page_access_token
            = f.text_field :facebook_page_access_token, class: 'form-control input-md', required: true

        .modal-footer
          .form-group
            %button.btn.btn-default{ 'data-dismiss' => 'modal', type: 'button'} Cancel
            = f.submit 'Save', class: 'btn btn-primary'
