#create-new.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title New Bot
      = form_for current_user.bots.new do |f|
        .modal-body
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control input-md', required: true, autofocus: true, placeholder: "Your bot name"
            = f.label 'Ending survey message (160 character maximum)'
            = f.text_field :restart_msg, class: 'form-control input-md', required: true, autofocus: true, placeholder: 'Ending message to let visitor restart survey, e.g: Do you want to restart survey again?'
            = f.text_field :greeting_msg, class: 'form-control input-md', required: true, autofocus: true, placeholder: 'Greeting message to inform visitor to often check, e.g: Thank for your time to take basic mental health test. Please try again in next 3 months.'

        .modal-footer
          .form-group
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            = f.submit 'Save', class: 'btn btn-primary'
