= render 'shared/header'
= render 'shared/alert'

.container.space-top
  - unless current_user.admin?
    %center
      #div{style: "width:80%;", align: "right"}
        %button.btn.btn-default.btn-primary{'data-target' => '#create-new', 'data-toggle' => 'modal', type: 'button'} Create new
    %br

  %table.table-bordered.table.central{style: "width:80%;", align: "center"}
    %tr
      %th{width: 60} #
      %th Name
      - if current_user.admin?
        %th Created by
      %th Actions

    - @bots.each_with_index do |bot, index|
      %tr
        %td= index + 1
        %td= link_to bot.name, bot_path(bot)
        - if current_user.admin?
          %td= bot.user.name
        %td
          - if bot.published?
            - unless current_user.admin?
              = link_to 'Configure', bot_path(bot), class: 'btn btn-info btn-xs'

            %button.deactivate.btn.btn-danger.btn-xs{ 'data-bot' => bot.to_json }
              Deactivate

          - else
            %button.activate.btn.btn-info.btn-xs{ 'data-bot' => bot.to_json }
              Activate

= render 'new_modal'
