= render 'shared/header'
= render 'shared/alert'

.container.space-top
  .col-lg-12
    %p= link_to 'Back', bots_path, class: 'btn btn-default'

    %h2{style: 'text-align: center'}= @bot.name

    = render 'setup_facebook'
    = render 'setup_survey'
    = render 'setup_spreadsheet'
