.container
  %div
    %div{style: 'display: inline-block'}= link_to '<- Back', bots_path
    %h2{style: 'display: inline-block'}= @bot.name

  .col-lg-12
    = form_tag import_bots_path, multipart: true, class: 'form-group' do
      .form-group
        = label_tag :xls_file
        = file_field_tag :file
      = submit_tag "Import", class: 'btn btn-default btn-primary'

  .col-lg-12
    %h2 Google Spreadsheet
    - if @bot.google_access_token.present? && @bot.google_spreadsheet_key.present?
      %h4
        %span spreadsheet title:
        %span.title= @bot.google_spreadsheet_title

    .picker
      = render 'picker'
