= render 'shared/header'

.container.space-top
  .col-lg-12
    %p= link_to 'Back', bots_path, class: 'btn btn-default'

    = render 'setup_facebook'
    = render 'setup_survey'
    = render 'setup_spreadsheet'
