.container
  .col-lg-12
    %p= link_to 'Back', bot_path(@bot), class: 'btn btn-default'

    .jumbotron
      %h2 Sample
      .card
        .card-body
          .paragraph Download sample form here
          = link_to "Download", "/survey.xlsx", class: 'btn btn-default btn-primary'

    .jumbotron
      %h2 Survey Form
      .card
        .card-body
          - if @bot.questions.present?
            .paragraph
              = "Last Modified : #{I18n.l @questions.first.updated_at, format: :long}, "
              %strong="#{@questions.length} questions"
            %div
              %button.btn.btn-default{"data-target" => "#import", "data-toggle" => "modal", :type => "button"} Import
              %button.btn.btn-default{"data-target" => "#preview", "data-toggle" => "modal", :type => "button"} Preview
              = link_to 'Delete', bot_survey_path(@bot, @questions.first), method: :delete, data: {confirm: "Are you sure to delete survey?"}, class: 'btn btn-default'
          - else
            .paragraph
              Bot survey doesn't have any question yet, please import it!
            %button.btn.btn-default.btn-primary{"data-target" => "#import", "data-toggle" => "modal", :type => "button"}
              %span Import

= render 'import_modal'
= render 'preview_modal'
