!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mbot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{id: css_id_name}
    #user-widget.container
      - if current_user
        Welcome
        = succeed "!" do
          %strong= current_user.name
        = link_to "Sign out", destroy_user_session_path, id: "sign_out", method: :delete

    = yield
